
* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(236, 226, 236);
}

nav {
    background-color: rgb(125, 175, 125);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 10vh;

    color: black;
}

.casilla {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casilla:hover {
    background-color: #e7e1e1;
    cursor: pointer;
}

#tabla {
    margin: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    background: #fff;
    width: 90vmin;
    height: 90vmin;
}